<%- model_class = Subscription -%>
<div class="page-header">
  <h1>
    <%#=t '.title', :default => model_class.model_name.human.pluralize %>
    <%=t '.title', :default => "You're watching:" %>
  </h1>
</div>
<div class="subscription-list">
  <% if @subscriptions.empty? %>
    <h2>Nothing! <%= link_to "Start tracking a show.", shows_path %></h2>
  <% else %>
    <% @subscriptions.sort_by!{|s| s.show.name }.each do |subscription| %>
      <div class="subscription-box" id="subscription-box<%= subscription.id %>">
        <%= render :partial => "list_item", :locals => { :subscription => subscription } %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(bindSubscriptionHandlers);
</script>