<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

function bindUpdateButton(){
  $(document).on("click", ".btn.update", function(event){ 
    $(this).closest("form").submit();
    $(this).attr("disabled", "disabled"); 
    $(this).children("i").removeClass().addClass("icon-white icon-refresh icon-spin");
    $(this).off();
    var cell = $(this).closest("td");
    cell.append('<br><div class="progress progress-striped active update-progress"><div class="bar update-bar"></div></div>');
    cell.find(".update-bar").animate({
      width: "100%",
    }, 30000, 'linear');
  });
};

function bindTrackingHandlers(){
  $(document).on("click", ".subscribe", function(event){
    event.preventDefault();
    var tr = $(this).closest("tr");
    var sid = parseInt(tr[0].id);
    var name = tr.find("td:first a").html();
    $("#dialog-form").attr("title", "Start tracking \"" + name + "\""); //handles first click
    $(".ui-dialog-title").html("Start tracking \"" + name + "\""); //handles subsequent clicks
    $("#dialog-form").dialog({
        height: 300,
        width: 500,
        modal: true,
        buttons: {
          "Start tracking!": function() {
            var url = $("#dialog-form").attr("data-target").replace("sid", sid).replace("season", $("#season").val()).replace("episode", $("#episode").val());
            var form = $("#dialog-form form");
            form.attr("action", url);
            form.submit();
          }
        }
    });
    $("#dialog-form").attr("title", "");
  });
};

//Creates jQuery "icontains" selector for case-insensitive DOM search
jQuery.expr[":"].icontains = jQuery.expr.createPseudo(function (arg) {                                                                                                                                                                
    return function (elem) {                                                            
        return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;        
    };                                                                                  
});

function bindSearchBoxHandlers(){
  $(".search-form").submit(function(event){
    event.preventDefault();
    $(this).removeClass("error");
    $("tr").removeClass("highlight");
    var input = $(this).find(".search-box").val();
    if(input.length === 0) return;
    var link = $("#shows-table tr td:first-child a:icontains('" + input + "')");
    if(link.length === 0){
      //search failed
      $(this).addClass("error");
      $(this).find(".search-box").blur();
      $(".search-failed").fadeIn();
    } else {
      var id = link.first().closest("tr")[0].id;
      $('html, body').animate({
        scrollTop: ($("#" + id).offset().top) - 56 // -56 to account for navbar, 
      }, 2000, function(){
        $("#" + id).addClass("highlight");
      });
    }
  });

};

function bindAlertHandlers(){
  $(document).on("click", ".close", function(){
    $(this).closest(".alert").fadeOut(function(){
      $(this).parent().remove();
    })
  })
};

function bindShowHandlers(logged_in){
  bindUpdateButton();
  bindSearchBoxHandlers();
  if(logged_in) bindTrackingHandlers();
  bindAlertHandlers();
};

function bindHashHandlers(inline){
  if(location.hash){
    $(location.hash).addClass("highlight");
    if(inline){
      var alerts = $(".shows-inline-alerts");
      alerts.detach().insertAfter($(location.hash)).show();

      //in-place toggle to absolute
      alerts.css({ position: "absolute", top: alerts.offset().top, left: alerts.offset().left, width: "940px" }); 
    }
  }
};