// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-copy {
    position: absolute;
    z-index: 1;
    color: white;
    width: inherit;
    text-align: center;

    h1 {
        color: white;
    }
}

.artsy-wrapper {
    position: relative;
    text-overflow: hidden;
    width: 100%;
    height: 100%;
}

.artsy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("problem.jpg");
}