// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-copy {
    position: absolute;
    z-index: 1;
    color: #013435;
    width: inherit;
    text-align: center;

    .homepage-column {
        position: relative;
        margin-bottom: 60px;

        &:first-child {
            margin-left: 0;
        }
    }

    .subscription {
        height: 130px;
        margin-bottom: 60px;
        border: 1px solid #333333;
    }
    
}
