// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-copy {
    position: absolute;
    z-index: 1;
    color: #013435;
    width: inherit;
    text-align: center;

    .homepage-column {
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        .artsy-background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: white;
            opacity: 0.75;
            -moz-border-radius: 15px;
            border-radius: 15px;

            z-index: -1;
        }
    }

    .subscription {
        height: 130px;
        margin-bottom: 60px;
    }
    
}

.artsy-wrapper {
    position: relative;
    text-overflow: hidden;
    width: 100%;
    height: 100%;
}

.artsy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("problem.jpg");
}