// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shows-table {

  .shows-demo-button {
    font-size: 13px;
    border: 1px solid black;
  }

  th {
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    font-size: inherit;
    white-space: nowrap;
  }

  .shows-table-action {
    float: left;
    padding: 20px 5px 0px 5px;
  }

  .update-progress {
    width: 228px - 16px - 10px;
    margin: 0px 5px;

    .update-bar {
      width: 0%;
    }
  }

}

.show-poster {
  float:left;
}

.show-info {
  max-width: 640px;
  line-height: 1.1em;
}

.shows-top-form {
  float:right;

  input {
    width: 300px;
  }
}