// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shows-table {

  td {
    vertical-align: middle;
    font-size: inherit;
    white-space: nowrap;
  }

  .shows-table-action {
    float: left;
    padding: 20px 5px 0px 5px;
  }
}