// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: tablet/mobile version
// @media only screen and (max-width: 940px) {
//   #shows-table td:nth-child(2), 
//   #shows-table th:nth-child(2) {display: none;}
//   #shows-table {width: 80%;}
// }

#shows-table {

  .shows-demo-button {
    font-size: 13px;
    border: 1px solid black;
  }

  .table-name-column {
    width: 20%;
    text-align: center;
  }

  .table-name-column-entry {
    text-align: center;

    .btn {
      width: 80%;
    }
  }

  .table-airtime-column {
    width: 20%;
  }

  .table-next-episode-column {
    width: 35%;
  }

  .table-actions-column {
    width: 25%;
    text-align: center;
  }

  tr.highlight {
    td {
      background-color: #015b4e;
      color: white;
    }

    td:first-child {
      a.episode-list-link {
        color: #34a7c8;
      }
    }
  }

  th {
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    font-size: inherit;
    word-wrap: break-word;
  }

  .shows-table-action {
    float: left;
    padding: 20px 5px 0px 5px;
  }

  .update-progress {
    width: 228px - 16px - 10px;
    margin: 0px 5px;

    .update-bar {
      width: 0%;
    }
  }

}

.shows-top-form {
  float:right;

  input {
    width: 300px;
  }

  .search-failed {
    display: none;
  }
}


.show-poster {
  float:left;
}

.show-info {
  max-width: 640px;
  line-height: 1.1em;
}

div.back-button {
  padding-left: 0px;
}