body {

  overflow-x: hidden;

}

.subscription-list {

  .subscription-box {
    position: relative;
    height: 290px;
    width: 940px;

    .subscription-more {
      cursor: pointer;
    }

    .subscription {
      margin-top: 0px;
      height: 130px;
      width: 820px; //940 - 60*2 (padding)
      position: absolute;

      a {
        color: #34a7c8;
      }

      .subscription-rewind {
        position: absolute;
        top: 15px;
        right: 25px;
        height: 50px;
        width: 80px;

        button {
          position: relative;
          font-size: 32px;
          width: 100%;
          height: 100%;

          i {
            position: absolute;
            left: 20%;
            top: 15%;
          }
        }
      }

      .subscription-thumbnail-box {

        position: relative;

        :hover {
            background: #34a7c8;
          }

        .subscription-thumbnail {
          height: 160px;
          margin-top: -20px;
        }

        .subscription-checkbox {
          width: 100px;
          height: 100px;
          background: none;
          border: none;
          box-shadow: none;
          position: absolute;

          //center in parent div regardless of size
          top: 50%;
          margin-top: -54px;
          left: 50%;
          margin-left: -54px;
        }
      }
    }
  }
}
