body {

  overflow-x: hidden;

}

.subscription-list {

  .subscription-box {
    position: relative;
    height: 290px;
    width: 940px;

    .subscription-more {
      cursor: pointer;
    }

    .subscription {
      margin-top: 0px;
      height: 130px;
      width: 820px; //940 - 60*2 (padding)
      position: absolute;

      .subscription-rewind {
        position: absolute;
        top: 15px;
        right: 25px;
        height: 50px;
        width: 80px;

        button {
          position: relative;
          font-size: 32px;
          width: 100%;
          height: 100%;

          i {
            position: absolute;
            left: 22px;
            top: 11px;
          }
        }
      }

      .subscription-thumbnail-box {

        position: relative;

        :hover {
            background: #0065b4;
          }

        .subscription-thumbnail {
          height: 160px;
          margin-top: -20px;
        }

        .subscription-checkbox {
          width: 100px;
          height: 100px;
          background: none;
          border: none;
          position: absolute;
          top: 0;
          left: 5px;
        }
      }
    }
  }
}
