body {

  overflow-x: hidden;

}

.subscription-list {

  .subscription-box {
    position: relative;
    height: 290px;
    width: 940px;

    .subscription {
      margin-top: 0px;
      height: 130px;
      width: 820px; //940 - 60*2 (padding)
      position: absolute;
    }
  }
}

