<%= form_for @show, :html => { :class => 'form-inline' } do |f| %>
  <div class="control-group">
    <%= f.text_field :name, { :class => 'text_field', :placeholder => placeholder } %>
    <%= f.submit "Add Show", :class => 'btn btn-primary' %>
  </div>
<% end %>
