<form class="form-inline search-form control-group">
  <input type="text" class="search-box" placeholder="Search by name -- Press enter" />
  <button class="btn btn-success search-button">Search</button>
</form>