<footer id="footer" class="navbar-fixed-bottom">
    Made by <a href="http://www.lpm.io">Leo Martel</a>
    | <a href="http://www.github.com/lmartel/TVTrackerPrototype">Github</a>
    | <a href="#" onclick="$("body").scrollTop(0);">Top</a>
</footer>