<footer id="footer" class="navbar-fixed-bottom">
    Made by <%= link_to "Leo Martel", "http://www.lpm.io" %>
    | <%= link_to "Feedback", "mailto:leo@lpm.io" %>
    <% if ENV['OSS'] %>
    | <%= link_to "Github", "http://www.github.com/lmartel/TVTracker" %>
    <% end %>
    | <a href="#" onclick="$("body").scrollTop(0);">Top</a>
</footer>